{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 52.3731339,
    "longitude": 4.8903147,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Asia/Karachi",
    "external_url": null,
    "internal_url": null,
    "currency": "PKR",
    "country": "PK",
    "language": "en-GB",
    "radius": 100
  }
}